.belly {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /*space-between;*/
    /*padding: 2em;*/
    padding: 0px 10px;
    background-color: #ffffff;
    color: #fff;
    flex: 10;
}

.belly-section-left-index {
    flex: 1.5;
    padding: 1em;
}



.belly-section-detail {
    flex:8.5;
    padding: 1em;
    background-color: tomato;
}

