



.root_container {
    height: 80vh;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /*border-radius: 0px;*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    line-height: 21px;
    letter-spacing: 1px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /*padding: 50px;*/

}

.root_container::-webkit-scrollbar {
    display: none;
}

/*ecommerce_container*/
.root_container > nav {
    position: sticky;
    top: 0;
    background-color: cornflowerblue;
    z-index: 1;

}


.root_container> nav > .product_search_container {


    /*none*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    width: 300px;
    min-width: 300px;
    background-color: greenyellow;
    position: absolute;
    left:20px;

    /*gap: 2rem;*/
    /*max-width: 72rem;*/

}

@media (min-width: 640px) {

    .root_container > nav > .product_search_container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        display: flex;
        align-content: center;
        align-self: center;
        width: 360px;
        background-color: greenyellow;
        position: absolute;
        left:calc(30%);

        /*margin:auto;*/
    }
}



.root_container> nav > .product_search_container > .input_wrapper {
    position:relative;
    width: 80%;
    /*margin: auto;*/
}


.root_container> nav > .product_search_container > .input_wrapper > .input_box {



    padding: 0.5rem;
    padding-left: 2.5rem;
    border-radius: 20px;

/*    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;*/
    /*width: 260px;*/
    /* margin: auto; */

    border-color: skyblue;
    margin: 2px 0px;



}

.root_container> nav > .product_search_container > .input_wrapper > .input_box:focus {
    background-color: cornsilk;
    color: red;
    border-color: skyblue;
    border-width: 2px;
}


.root_container> nav > .product_search_container > .input_wrapper >.input_wrapper_svg {
    /*"position":"absolute","left":"0.5rem","top":"50%"*/

    position: absolute;
    left: 0.5rem;
    /*top: 10%;*/



}

.root_container> nav > .product_search_container >  .position_relative{
    position: relative;
}
.cart_count{
    position: absolute;
    top: 0.5rem;
    right: -0.5rem;
    border-radius: 9999px;
    width: 1rem;
    height: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ffffff;
    background-color: #EF4444;
}

.root_container > main {
    /*none*/
    display: flex;
    flex-direction: column;
    max-width: 72rem;
}

@media (min-width: 768px) {
    .root_container > main{
        flex-direction: row;
    }

}



.root_container > main .left_index_root_div {
    padding: 0.5rem;
    margin-top: 1rem;
    width: 100%;
}

@media (min-width: 768px) {
    .root_container > main .left_index_root_div{

        max-width: 13rem;

    }
}


.root_container > main >.product_wrapper {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
    place-content: center;
    width: 100%;
    max-width: 56rem;

}

@media (min-width: 640px) {
    .root_container > main > .product_wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}


@media (min-width: 1280px) {
    .root_container > main > .product_wrapper {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        /*height: 140vh;*/


    }

}

.single_item_outer_div{
    margin-top: 0.5rem;
    /*border-width: 1px;*/
    /*border-width: 4px;*/
    /*margin-top: 0.5rem;*/

}








.single_item {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    border-color: blue;
    border-width: 2px;
    /*width: calc(99%);*/
    /*height: calc(99%);*/
}

.single_item:hover {
    /*height : 320px;*/
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    cursor: pointer;
    background-color: lemonchiffon;
    border-radius: 5px;
    border-color: blue;
    border-width: 2px;
    /*--transform-translate-y: 0;*/
}


.single_item > span.status{

    background-color: teal;
    position: absolute;
    visibility : hidden;

    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: #ffffff;

}

.single_item:hover > span.status{
    background-color: blueviolet;
    position: absolute;
    visibility : visible;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: #ffffff;
}

.single_item:hover > span.added{
    background-color: tomato;
    position: absolute;
    visibility : visible;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    color: #ffffff;
}

/*.isolated_item_style_bg_red_600{
    background-color: #DC2626;
}

.isolated_item_style_bg_gray_800 {
    background-color: #1F2937;
}

*/
.isolated_item_style_hidden {
    display: none;
}

.image_style{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.single_item > image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


















